@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+SC:wght@200;300;400;500;600;700;900&display=swap');

:root {
    /* font */
    --vp-font-family-base:
        'Fira Code', 'Noto Sans SC', 'Noto Serif SC', sans-serif;
    --vp-font-family-mono:
        'Fira Code', 'Noto Sans SC', 'Noto Serif SC', monospace;

    /* body */
    --vp-c-bg: transparent;

    /* nav */
    --vp-nav-bg-color: transparent;
    --vp-local-nav-bg-color: transparent;
    --vp-c-gutter: rgba(255, 255, 255, 0.3);
    /* border-bottom */

    /* sidebar */
    --vp-sidebar-bg-color: transparent;

    /* code */
    --vp-code-bg: rgba(101, 117, 133, 0.3);
    --vp-code-block-bg: rgb(22, 22, 24, 0.6);

    /* table */
    --vp-c-bg-soft: rgb(32, 33, 39, 0.6);

    /* border */
    --vp-c-divider: rgba(255, 255, 255, 0.3);
}

/* background image */
body::before {
    background-image: url('https://img.remit.ee/api/file/BQACAgUAAyEGAASHRsPbAAEOBh5pSnUENH4C3aqGu4NIrLUUzGMZeQACTiQAAig5UFaz8yV7uhhzzTYE.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    filter: blur(3px) brightness(0.4);

    content: '';
    inset: 0;
    position: fixed;
    z-index: -1;
}

.VPContent {
    background: rgba(15, 15, 20, 0.55);
    backdrop-filter: blur(4px);
}